<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd  http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


    <bean id="exceptionEventBus" class="org.nthdimenzion.ddd.infrastructure.EventBus">
        <qualifier value="exceptionEventBus"/>
        <constructor-arg name="eventBus">
            <bean class="com.google.common.eventbus.EventBus">
                <constructor-arg name="identifier" value="exceptionEventBus"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="domainEventBus" class="org.nthdimenzion.ddd.infrastructure.EventBus">
        <qualifier value="domainEventBus"/>
        <constructor-arg name="eventBus">
            <bean class="com.google.common.eventbus.EventBus">
                <constructor-arg name="identifier" value="domainEventBus"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="applicationEventBus" class="org.nthdimenzion.ddd.infrastructure.EventBus">
        <qualifier value="applicationEventBus"/>
        <constructor-arg name="eventBus">
            <bean class="com.google.common.eventbus.EventBus">
                <constructor-arg name="identifier" value="applicationEventBus"/>
            </bean>
        </constructor-arg>
    </bean>

     <bean id="errorMessageLocator" class="org.nthdimenzion.ddd.infrastructure.exception.ErrorMessageLocator">
		<property name="exceptionMessageHolders">
			<array>
				<value>org/error/exception.properties</value>
                <value>com/simplepersoncrud/error/exception.properties</value>
                <value>com/librarymanagement/error/exception.properties</value>
			</array>
		</property>
	</bean>


    <import resource="databaseContext.xml"/>
    <import resource="queryContext.xml"/>
    <import resource="integrationContext.xml"/>
    <import resource="org/presentation/presentationBeanContext.xml"/>
    <import resource="org/security/securityContext.xml"/>


    <context:component-scan base-package="org.nthdimenzion"></context:component-scan>
    <context:component-scan base-package="com.simplepersoncrud"></context:component-scan>
    <context:component-scan base-package="com.librarymanagement"></context:component-scan>

    <context:annotation-config/>

<!--
    <bean id="errorRecorder" class="org.nthdimenzion.ddd.infrastructure.exception.PersistableErrorRecorder">
        <constructor-arg name="errorDetailsRepository" ref="errorDetailsRepository"/>
        <constructor-arg name="exceptionEventBus" ref="exceptionEventBus"/>
    </bean>
-->

</beans>
